<!doctype html>
<html>
<head>
  <title>client 2</title>
  <style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font: 13px Helvetica, Arial; }
    form { background: #000; padding: 3px; bottom: 0; width: 100%; }
    form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
    form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
  </style>
</head>
<body>
<ul id="messages"></ul>
<form id="form" action="">
  <input id="m" autocomplete="off" /><button>accept</button>
</form>
<form id="form2" action="">
  <input id="m2" autocomplete="off" /><button>cancel</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();
    socket.emit('new-user', {user_id: 'B7I745Js5T'}, function(d){
        $('#messages').append($('<li>').text(JSON.stringify(d)));
    })

    $('#form').submit(function () {
        socket.emit('answer', 
            {
                user_id: 'B7I745Js5T',
                accept: 1,
                room_id: 1
        });
        $('#m').val('');
        return false;
    });

    $('#form2').submit(function () {
        socket.emit('answer', 
            {
                user_id: 'B7I745Js5T',
                accept: 0,
                room_id: 1
        });
        $('#m').val('');
        return false;
    });

    socket.on('call', function(msg){
        $('#messages').append($('<li>').text(JSON.stringify(msg)));
    });

    socket.on('cancel-call', function(msg){
        $('#messages').append($('<li>').text(JSON.stringify(msg)));
    });

    socket.on('answer', function(msg){
        $('#messages').append($('<li>').text(JSON.stringify(msg)));
    });

    socket.on('send-message', function(msg){
        $('#messages').append($('<li>').text(JSON.stringify(msg)));
    });

</script>
</body>
</html>