<!doctype html>
<html>
<head>
  <title>Test</title>
  <style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font: 13px Helvetica, Arial; }
    form { background: #000; padding: 3px; bottom: 0; width: 100%; }
    form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
    form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
  </style>
</head>
<body>
<ul id="messages"></ul>
<form id="form" action="">
  <input id="m" autocomplete="off" /><button>call</button>
</form>
<form  id="form2" action="">
  <input id="m2" autocomplete="off" /><button>cancel</button>
</form>
<form  id="form3" action="">
  <input id="m3" autocomplete="off" /><button>chat</button>
</form>
<form  id="form4" action="">
  <input id="m4" autocomplete="off" /><button>create room</button>
</form>
<form  id="form5" action="">
  <input id="m5" autocomplete="off" /><button>get random room</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();

    socket.emit('new-user', {user_id: 'EvJ8ycdlkv'}, function(d){
        $('#messages').append($('<li>').text(JSON.stringify(d)));
    })

    // $('form').submit(function () {
    //     socket.emit('get-all-room', {user_id: 'pzqYuubhdW'});
    //     $('#m').val('');
    //     return false;
    // });

    $('#form4').submit(function () {
        socket.emit('create-room', {user_id: 'TCaiYqGPzI', other_user: 'B7I745Js5T'}, function(d){
            $('#messages').append($('<li>').text(JSON.stringify(d)));
        });
        $('#m4').val('');
        return false;
    });

    $('#form5').submit(function () {
        socket.emit('get-random-room', {user_id: 'TCaiYqGPzI'}, 
            function(d){
            $('#messages').append($('<li>').text(JSON.stringify(d)));
        });
        $('#m5').val('');
        return false;
    });

    $('#form3').submit(function () {
        socket.emit('send-message', 
            {
                user_id: 'EvJ8ycdlkv',
                message: $('#m3').val(),
                room_id: 1
        }, function(){});
        $('#m3').val('');
        return false;
    });

    $('#form').submit(function () {
        socket.emit('call', {
                user_id: 'aAblLBAV4K',
                receiver_id: 'B7I745Js5T',
                room_id: 7,
                call_id: 999
            }, 
            function(d){
                $('#messages').append($('<li>').text(JSON.stringify(msg)));
            });
        $('#m').val('');
        return false;
    });

    $('#form2').submit(function () {
        socket.emit('cancel-call', {
                user_id: 'aAblLBAV4K',
                receiver_id: 'B7I745Js5T',
                room_id: 1,
            }, 
            function(){});
        $('#m').val('');
        return false;
    });

    socket.on('call', function(msg){
        $('#messages').append($('<li>').text(JSON.stringify(msg)));
    });

    socket.on('get-all-room', function(msg){
        $('#messages').append($('<li>').text(JSON.stringify(msg)));
    });

    socket.on('send-message', function(msg){
        $('#messages').append($('<li>').text(JSON.stringify(msg)));
    });

    socket.on('answer', function(msg){
        $('#messages').append($('<li>').text(JSON.stringify(msg)));
    });

    socket.on('get-lesson', function(msg){
        $('#messages').append($('<li>').text(JSON.stringify(msg)));
    });

    socket.on('get-random-room', function(msg){
        $('#messages').append($('<li>').text(JSON.stringify(msg)));
    });
</script>
</body>
</html>